.card-article {
  font-size: 1rem;
}

.card-article .card-header {
  margin-bottom: calc(var(--base-line-height) * 2);
}

.card-article .card-image {
  background-color: #37383c;
  /* height: calc(var(--base-line-height) * 14); */
  padding-bottom: 56.6%;
}

.card-article .card-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-article .card-body {
  padding-right: 60px;
}

.card-article .card-title {
  font-size: 20px;
}

.swiper-wrapper.grid-articles > .grid-item {
  width: 40%;
  min-width: 280px;
}