.list-hyphen {
  padding-left: 0;
  list-style: none;
}

.list-hyphen > li {
  position: relative;
  padding-left: 12px;
}

.list-hyphen > li::before {
  content: '';
  width: 5px;
  height: 1px;
  background-color: currentcolor;
  flex-shrink: 0;
  margin-top: 0.7em;
  position: absolute;
  left: 0;
}

.list-filters .list-item {
  margin-bottom: var(--base-line-height);
}

.list-filters .list-item {
  flex-grow: 1;
}

.list-instruments {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.list-instruments .list-item {
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: var(--base-line-height);
}

.list-contacts {
  padding-left: 0;
  list-style: none;
}

.list-contacts > li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--base-line-height) - 12px);
}

.list-contact-title {
  min-width: 105px;
  color: var(--color-light);
}

.list-contact-label {
  font-weight: bold;
}

.list-contact-link {
  margin-right: 5px;
}

.list-price {
  list-style: none;
  padding-left: 0;
}

.list-price .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(var(--base-line-height) * 2 - 1px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.list-item-price-value {
  font-size: 20px;
  font-weight: bold;
}

.list-info {
  list-style: none;
  padding-left: 0;
}

.list-info > .list-item:not(:last-child) {
  margin-bottom: var(--base-line-height);
}

.list-info .list-title {
  opacity: 0.5;
}

.list-info .list-label {
  font-weight: bold;
}

.inverse .list-price .list-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}