.uk-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px 15px;
  background: rgba(55, 56, 60, 0.85);
  opacity: 0;
  transition: opacity .15s linear;
  font-size: 14px;
}

.uk-modal.uk-open {
  opacity: 1;
}

.uk-modal-page {
  overflow: hidden
}

.uk-modal-dialog {
  position: relative;
  margin: auto;
  border-radius: 10px;
  width: 600px;
  max-width: calc(100% - 0.01px) !important;
  background: #fff;
  opacity: 0;
  transform: translateY(-100px);
  transition: .3s linear;
  transition-property: opacity, transform
}

.uk-open > .uk-modal-dialog {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.uk-modal-container .uk-modal-dialog {
  width: 1200px
}

.uk-modal-full {
  padding: 0;
  background: none
}

.uk-modal-full .uk-modal-dialog {
  margin: 0;
  width: 100%;
  max-width: 100%;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.uk-modal-body {
  margin: 30px 40px
}

.uk-modal-header {
  margin: 30px 40px;
  background: #fff;
}

.uk-modal-footer {
  padding: 15px 30px;
  background: #fff;
  border-top: 1px solid #e5e5e5
}

.uk-modal-body::before, .uk-modal-body::after, .uk-modal-header::before, .uk-modal-header::after, .uk-modal-footer::before, .uk-modal-footer::after {
  content: "";
  display: table
}

.uk-modal-body::after, .uk-modal-header::after, .uk-modal-footer::after {
  clear: both
}

.uk-modal-body > :last-child, .uk-modal-header > :last-child, .uk-modal-footer > :last-child {
  margin-bottom: 0
}

.uk-modal-title {
  line-height: 1.3
}

[class*='uk-modal-close-'] {
  position: absolute;
  z-index: 1010;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;

}

[class*='uk-modal-close-'] svg line {
  stroke-width: 2;
  stroke: currentcolor;
}

[class*='uk-modal-close-']:first-child + * {
  margin-top: 0
}

.uk-modal-close-outside {
  top: 0;
  right: -5px;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  color: #fff
}

.uk-modal-close-outside:hover {
  color: #fff
}

.uk-modal-close-full {
  top: 0;
  right: 0;
  padding: 20px;
  background: #fff
}

.uk-modal-small .uk-modal-dialog {
  width: 350px;
}

.uk-flex {
  display: flex;
}



.uk-modal-pattern {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -1;
  transform: rotateY(180deg);
}
/* modal full */
.uk-modal-layout {
  height: 100vh;
  display: flex;
}

.uk-modal-layout-sidebar {
  width: 30%;
  padding: 70px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.uk-modal-layout-body {
  position: relative;
  width: 70%;
  padding: 70px;
  background-color: var(--background-light);
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.uk-modal-layout-footer {
  margin-top: auto;
}

.uk-modal-layout-block:not(:last-child) {
  margin-bottom: calc(var(--base-line-height) * 3);
}

.uk-modal-toggler {
  display: inline-flex;
  font-size: 26px;
  vertical-align: middle;
  margin-right: 20%;
  background: none;
  border: none;
}
.uk-modal-brand {
  display: inline-flex;
  vertical-align: middle;
}
.uk-modal-brand svg {
  height: 36px;
}