.nav {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav-tab {
  font-size: 14px;
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: 0;
}

.nav-tab > li {
  padding: 0 14px;
}

.nav-tab > li > a {
  line-height: calc(var(--base-line-height) * 2 - 3px);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.nav-tab > li > a::after {
  content: '';
  border-bottom: 3px solid transparent
}

.nav-tab > li > a:hover,
.nav-tab > li > a:focus,
.nav-tab > li > a:active,
.nav-tab > li.is-active > a,
.nav-tab > li.uk-active > a {
  color: #191a1b;
  text-decoration: none;
}

.nav-tab > li > a:hover::after,
.nav-tab > li.is-active > a::after,
.nav-tab > li.uk-active > a::after {
  border-color: var(--color-primary);
}

.nav-tags {
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: 0;
}

.nav-tags > li {
  margin-left: 14px;
  margin-right: 14px;
}