.navbar {
  min-height: calc(var(--base-line-height) * 4);
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--base-color);
  background-color: transparent;
  transition: background-color 0.2s;
}

.uk-offcanvas-page .navbar,
.navbar.uk-active {
  background-color: #fff;
  color: var(--base-color);
}

.navbar.uk-sticky {
  z-index: 990;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  height: 35px;
  color: currentcolor;
}

.navbar-brand img {
  display: block;
  object-fit: contain;
}

.navbar-brand svg * {
  fill: currentcolor;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  /* margin: 0 -14px; */
  grid-column: 3 / 7;
}

.navbar-nav > li > a {
  padding: 0 14px;
}

.navbar-nav > li > a {
  line-height: calc(var(--base-line-height) * 2 - 3px);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.navbar-nav > li > a::after {
  content: '';
  border-bottom: 3px solid transparent;
}

.navbar-nav > li > a.dropdown-button .icon-dropdown {
  margin-top: -1px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:active,
.navbar-nav > li.is-active > a,
.navbar-nav > li.uk-active > a {
  color: #191a1b;
  text-decoration: none;
}

.navbar-nav > li > a:hover:not(.dropdown-button)::after,
.navbar-nav > li > a:focus:not(.dropdown-button)::after,
.navbar-nav > li > a:active:not(.dropdown-button)::after,
.navbar-nav > li.is-active > a:not(.dropdown-button)::after,
.navbar-nav > li.uk-active > a:not(.dropdown-button)::after {
  border-color: var(--color-primary);
}

.navbar-nav > li > a:hover {
  /*text-decoration: none;*/
}

.navbar-nav > li > a:focus {
}

.navbar-container {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(8, 1fr);
}

.navbar-nav {
  grid-column: 3 / 7;
  justify-content: center;
}

.navbar .dropdown-button {
  height: calc(var(--base-line-height) * 2);
}

.navbar-container {
  position: relative;
}

.navbar-toggler {
  cursor: pointer;
  background: none;
  border: none;
  background-color: transparent;
  padding: 10px;
  vertical-align: middle;
  position: fixed;
  left: var(--grid-gap);
  top: 30px;
  z-index: 1001;
  font-size: 1em;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  outline: none;
}

.navbar-dropdown {
  text-align: right;
}

.navbar-phone {
  text-align: right;
}

.navbar .dropdown-branches {
  margin-left: -14px;
  text-align-last: left;
}

.navbar .dropdown-languages {
  margin-left: auto;
}