.newsletter {
  flex-grow: 1;
}

.newsletter .sale {
  max-width: 710px;
  margin-right: 5%;
}

.newsletter-events {
  padding-left: 26%; /*TODO: to grid column */
}

.newsletter-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: calc(var(--base-line-height) * 2);
  padding-bottom: calc(var(--base-line-height) * 2);
  align-items: center;
}

.newsletter-container > * {
  flex-grow: 1;
}