.sale {
  display: flex;
  align-items: center;
}

.sale-value {
  font-size: 72px;
  font-weight: bold;
  line-height: calc(var(--base-line-height) * 3);
  color: var(--color-primary);
}

.sale-symbol {
  position: relative;
  top: 0.25em;
  font-size: 40px;
  font-weight: bold;
  line-height: calc(var(--base-line-height) * 2);
  color: var(--color-primary);
}

.sale-description {
  margin-left: 30px;
}