.layout-about-school {
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: calc(var(--base-line-height) * 12);
    grid-template-areas: "a a a a a a a a" "c c c c c c c c" "b b b b b b b b";
}

.layout-about-school > .layout-item:nth-child(2) {
    align-self: center;
}

.layout-about-school .list-hyphen li:not(:last-child) {
    margin-bottom: calc(var(--base-line-height) * 0.5);
}

.layout-about-school .grid-statistics {
    grid-template-columns: repeat(2, 1fr);
}

.layout-about-school .grid-statistics .grid-item:nth-child(1) {
    grid-column: 1 / 3;
}

.layout-educational-programs-header {
    grid-gap: 48px;
}

.layout-educational-programs-body {
    margin-top: calc(var(--base-line-height) * 3);
    grid-template-columns: 350px;
    grid-template-areas: "a a a a a a a a" "b b b b b b b b" "c c c c c c c c";
}

@media (min-width: 1100px) {
    .layout-about-school {
        grid-template-areas: "a a a a . b b ." "c c c c . b b .";
    }
}

@media (min-width: 1280px) {
    .layout-educational-programs-body {
        grid-template-areas: "a b b b b b b b" "c c c c c c c c";
    }
}

@media (min-width: 1441px) {
    .layout-about-school {
        grid-template-areas: ". a a a . b b ." ". c c c . b b .";
    }
}

